body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(31, 31, 31);
}

#Ring1{
    color: rgb(31, 31, 31);
    position: absolute;
    background-color: none;
    border: 2px solid antiquewhite;
    box-shadow: 3px 3px 10px antiquewhite;
    border-radius: 400px;
    padding: 7rem 8rem;
    animation: ringrotate 3s ease-in-out  infinite;
    transform-style: preserve-3d;
}


#Ring2{
    color: rgb(31, 31, 31);
    position: absolute;
    background-color: none;
    border: 2px solid antiquewhite;
    box-shadow: 3px 3px 10px antiquewhite;
    border-radius: 400px;
    padding: 7rem 8rem;
    animation: ringrotate 2s ease-in-out  infinite;
    transform-style: preserve-3d;
}


#Ring3{
    color: rgb(31, 31, 31);
    position: absolute;
    background-color: none;
    border: 2px solid antiquewhite;
    box-shadow: 3px 3px 10px antiquewhite;
    border-radius: 400px;
    padding: 7rem 8rem;
    animation: diagonal-spin-topleft2 5s ease-in-out  infinite;
    transform-style: preserve-3d;
}


#Ring4{
    color: rgb(31, 31, 31);
    position: absolute;
    background-color: none;
    border: 2px solid antiquewhite;
    box-shadow: 3px 3px 10px antiquewhite;
    border-radius: 400px;
    padding: 7rem 8rem;
    animation: diagonal-spin-topleft 3s ease-in-out  infinite;
    transform-style: preserve-3d;
    
}


#Ring5{
    color: rgb(31, 31, 31);
    position: absolute;
    background-color: none;
    border: 2px solid antiquewhite;
    box-shadow: 3px 3px 10px antiquewhite;
    border-radius: 400px;
    padding: 7rem 8rem;
    animation: diagonal-spin-topleft2 3s ease-in-out  infinite;
    transform-style: preserve-3d;
    
}


#Ring6{
    color: rgb(31, 31, 31);
    position: absolute;
    background-color: none;
    border: 2px solid antiquewhite;
    box-shadow: 3px 3px 10px antiquewhite;
    border-radius: 400px;
    padding: 7rem 8rem;
    animation: diagonal-spin-topleft 3s ease-in-out  infinite;
    transform-style: preserve-3d;
    
}


#Ring7{
    color: rgb(31, 31, 31);
    position: absolute;
    background-color: none;
    border: 2px solid antiquewhite;
    box-shadow: 3px 3px 10px antiquewhite;
    border-radius: 400px;
    padding: 7rem 8rem;
    animation: diagonal-spin-topleft2 3s ease-in-out  infinite;
    transform-style: preserve-3d;
    
}


#Ring8{
    color: rgb(31, 31, 31);
    position: absolute;
    background-color: none;
    border: 2px solid antiquewhite;
    box-shadow: 3px 3px 10px antiquewhite;
    border-radius: 400px;
    padding: 7rem 8rem;
    animation: diagonal-spin-topleft 3s ease-in-out  infinite;
    transform-style: preserve-3d;
    
}

@keyframes ringrotate {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}

@keyframes diagonal-spin-topleft {
    0% {
        transform: rotate3d(-1, 1, 0, 0deg); 
    }
    100% {
        transform: rotate3d(-1, 1, 0,360deg); 
    }
}

@keyframes diagonal-spin-topleft2 {
    0% {
        transform: rotate3d(-0.5, 1.5, 0, 0deg); 
    }
    100% {
        transform: rotate3d(-0.5, 1.5, 0, 360deg); 
    }
}

