@font-face {
    font-family: 'nemu';
    src: url('../fonts/neue.ttf');
}

@font-face {
    font-family: 'bebas';
    src: url('../fonts/Bebas_Neue/beies2.ttf');
}

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis/doies.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* navbar styles */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 9vw;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: rgb(84, 84, 84);
    font-family: 'bebas';
    font-size: clamp(20px, 2vw, 100px);
}

.navbar a:hover {
    color: rgb(0, 0, 0);
}