@font-face {
    font-family: 'nemu';
    src: url('../fonts/neue.ttf');
}
@font-face {
    font-family: 'bebas';
    src: url('../fonts/Bebas_Neue/beies2.ttf');
}
@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis/doies.ttf');
}
@font-face {
    font-family: 'quota';
    src: url('../fonts/quotsfont.ttf');
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    font-family: 'Dosis', sans-serif;
    background-image: url(../pics/noteswithflower.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.038);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 9vw;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: rgb(179, 179, 179);
    font-family: 'bebas';
    font-size: clamp(20px, 2vw, 100px);
}

.navbar a:hover {
    color: rgb(0, 0, 0);
}


#Container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100vh - 3rem); 
    padding: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
}


#addTaskContainer {
    background-color: hsla(0, 0%, 0%, 27%);
    padding: 2rem;
    border-radius: 15px;
    min-width: 300px;
    max-width: 400px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#addTaskContainer input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    font-family: 'Dosis';
    background-color: hsl(0, 0%, 0%,40%);
    color: antiquewhite;
}

#addTaskContainer button {
    padding: 0.5rem 1rem;
    background-color: hsla(0, 0%, 0%, 0.40);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'bebas';
    font-size: 1.2rem;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

#addTaskContainer label{
    color: antiquewhite;
}

#addTaskContainer button:hover {
    transform: scale(1.2);
    color: rgb(130, 130, 130);
}

/* Task List Panel */
#taskListContainer {
    background-color: rgb(0, 0, 0, 27%);
    padding: 2rem;
    border-radius: 15px;
    min-width: 300px;
    max-width: 600px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}

#taskListContainer ul {
    list-style: none;
    width: 100%;
}

#taskListContainer li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: rgb(0, 0, 0, 60%);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: 'Dosis';
    margin-bottom: 0.5rem;
    color: antiquewhite;
}


.completed {
    text-decoration: line-through;
    color: rgb(82, 82, 82);
}
