@font-face {
    font-family: 'nemu';
    src: url('../fonts/neue.ttf');
}

@font-face {
    font-family: 'bebas';
    src: url('../fonts/Bebas_Neue/beies2.ttf');
}

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis/doies.ttf');
}

@font-face {
    font-family: 'quota';
    src: url(../fonts/quotsfont.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* navbar styles */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.038);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 9vw;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: rgb(179, 179, 179);
    font-family: 'bebas';
    font-size: clamp(20px, 2vw, 100px);
}

.navbar a:hover {
    color: rgb(0, 0, 0);
}

#container1 {
    display: flex;
    justify-content: center;

    height: auto;
    min-height: 92vh;
    background-color: aquamarine;
}

#TaskEdit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem 7rem;
    background-color: tomato;
    margin-right: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;

}

#Tasklist {
    display: flex;
    padding-left: 2rem;
    padding-top: 4rem;
    padding-right: 5rem;
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: tomato;
    
}

#Etrlab {
    color: bisque;
    font-family: "Dosis";
    font-size: clamp(2vw, 3rem, 40px);
    font-weight: bold;
}

#AddTask {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: bisque;
    font-family: "nemu";
    margin-top: 2rem;
}

#Task {
    padding: 0.8rem 4rem;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: bisque;
    font-family: "Dosis";
    font-size: clamp(2vw 1rem 40px);
    text-align: center;
    margin-top: 0.6rem;
}